<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>

    <!-- Here we use the AngularJS directive: ng-repeat to loop through our awesomeThings
    and print them out as list items using the {{}} bindings -->
    <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
[/js]

<strong>The Index File: app/index.html</strong>
[html]  <!doctype html>
<html>
<head>...</head>
<!-- The ng-app directive tells angular which module we'll use
for our app. In this case the one defined in scripts/app.js -->
<body ng-app="test3App">
...
<!-- The ng-view directive specifies that our templates
(such as views/main.html) will be loaded into this div. -->
<div class="container" ng-view></div>
<!-- Here we load AngularJS and the AngularJS resource component -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- Here we include our own angular scripts -->
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>

<!-- build:js scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<!-- endbuild -->

...



</body>
</html>
